/* Banner slider
================================================= */
.banner {
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    //max-height: 540px;
    @media only screen and (min-width: $breakpoint-laptop) {
      max-height: 540px;
    }
    @media only screen and (max-width: $breakpoint-s) {
      max-height: 462px;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
    @media only screen and (max-width: $breakpoint-mobile) {
      bottom: 50px;
    }
    li {
      display: inline-block;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      button {
        -webkit-appearance: none;
        width: 11px;
        height: 11px;
        color: transparent;
        border: 1px solid $brand-primary-color;
        background-color: transparent;
        background-position: -11px 0;
        border-radius: 50%;
        cursor: pointer;
        vertical-align: middle;
        outline: none;
        &:active {
          background-position: -11px 0;
          transform: scale(1.5);
          transition: transform .1s cubic-bezier(0, 0, .2, 1);

        }
        @media only screen and (max-width: $breakpoint-mobile) {
          width: 13px;
          height: 13px;
        }
      }
      &.slick-active {
        button {
          box-shadow: rgba(244, 101, 8, 0.2) 0 0 0 6px;
          background-color: transparent;
          background-image: linear-gradient( $brand-primary-color 0%, #ff6b00 100%);
          background-position: 0 0;
          background-repeat: no-repeat;
          transition: background-position .15s cubic-bezier(.8, 0, 1, 1), transform .25s cubic-bezier(.8, 0, 1, 1);
          &~ button,
          &~ button:active {
            background-position: 11px 0;
          }
        }
      }

      &::before {
        content: none;
      }
    }
  }
  .slide {
    position: relative;
    .slide-banner {
      min-height: 460px;
      height: 100%;
      width: 100%;
    }
    .slide-content {
      position: absolute;
      top: 90px;
      left: 108px;
      max-width: 660px;
      padding: 20px;
      @media only screen and (min-width: 426px) and (max-width: $breakpoint-laptop) {
        top: 40px;
        left: 80px;
        max-width: 420px;
      }
      @media only screen and (max-width: $breakpoint-s) {
        top: 65px;
        left: 8px;
      }
      h1 {
        margin-left: -4px;
        margin-top: 20px;
        margin-bottom: 50px;
        @media only screen and (min-width: 426px) and (max-width: $breakpoint-laptop) {
          margin-top: 10px;
          margin-bottom: 20px;
          font-size: 36px;
          line-height: 38px;
        }
        @media only screen and (max-width: $breakpoint-s) {
          margin-bottom: 10px;
        }
      }
      div {
        @extend %clearfix;
        .author-data {
          margin-top: 10px;
        }
      }
    }
  }
}
