/* Main gallery
================================================= */
$box-height: 460px;
$text-height: 150px;
$box-width: 820px;

.main-gallery-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #1b1d29;

  .main-gallery-holder {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
    flex-direction: column;
    width: $box-width;

    .main-gallery-box {
      height: $box-height;
      width: 100%;

      .gallery-box-item {
        height: 100%;
        width: 100%;

        .gallery-slide {
          width: $box-width;
          height: $box-height;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
    }

    .slide-content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 46px;
      min-height: $text-height;

      p {
        width: 614px;
      }
    }
  }

  .switchers-area {
    position: absolute;
    height: $box-height + $text-height;
    min-width: 172px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    .preview-container {
      display: flex;
      align-items: flex-end;
      height: $box-height;
    }
  }
}