/* Main gallery
================================================= */
.main-gallery-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  z-index: 999;
  .main-gallery-holder {
    display: flex;
    max-width: 1030px;
    margin: 0 auto;
    justify-content: space-between;
    .main-gallery-box {
      width: 80%;
      figure {
        width: 100%;
        figcaption {
          display: flex;
          h5 {
            width: 20%;
          }
          p {
            width: 80%;
            color: #fff;
          }
        }
      }
    }
    .slider-nav-thumbnails {
      width: 16.8%;
      .slider-nav-thumbnails-item {
        picture {
          display: block;
          padding-top: 10px;
        }
        img{
          display: block;
          width: 170px;
          height: 110px;
        }
        &:first-child {
          picture {
            padding-top: 0;
          }
        }
      }
    }
  }
}